* {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
}

.header {
    background-color: #333;
    .header-logo {
        img {
            height: 50px;
        }
    }
    .header-menu {
        float: right;
        border: 1px solid white;
        padding: 10px;
        margin: 10px;
        color: white;
    }
    .header-nav {
        border: 1px solid #ccc;
        text-align: center;
        font-family: Roboto, Arial;
        text-transform: uppercase;
        display: none;
        ul {
            list-style: none;
            li {
                padding: 10px;
                a {
                    color: #ccc;
                    text-decoration: none;
                    font-weight: bold;
                }
            }
        }
    }
}

.banner-mobile {
    background-color: #333;
    text-align: center;
    padding-bottom: 35px;
    img {
        width: 100%;
    }
    .img {
        margin: 20px;
        width: 80%;
    }
}

.btn {
    background: linear-gradient(to right, red, rgb(92, 12, 12));
    color: white;
    padding: 10px;
    text-decoration: none;
    transition: all 1s;
}

.btn:hover {
    background: linear-gradient(to left, red, rgb(92, 12, 12));
}

.flex {
    display: flex;
    .col {
        text-align: center;
    }
}

.banner-desktop {
    display: none;
}

h2 {
    text-align: center;
    font-family: Roboto;
    font-weight: bold;
    color: #333;
    margin: 30px 0;
}

p {
    font-family: Roboto, Arial;
    margin: 20px 0;
}

.quadrinhos {
    .flex {
        display: block;
        .col {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
}

.noticias {
    background: #f1f1f1;
    padding: 30px 0;
    .flex {
        display: block;
        .col {
            border-bottom: 5px solid #CCC;
            margin-bottom: 20px;
            img {
                width: 100%;
            }
        }
    }
}

.footer {
    text-align: center;
    background: #111;
    color: #CCC;
    padding: 30px 0;
    a {
        color: #CCC;
        text-decoration: none;
        margin: 20px;
        &:hover {
            color: #F00;
        }
    }
}

main {
    background-color: #f1f1f1;
}

form {
    label {
        font-family: Roboto;
        width: 100%;
    }
    .form {
        font-family: Roboto;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px;
        margin-bottom: 10px;
    }
    button {
        background: #f00;
        color: white;
        padding: 10px;
        border-radius: 4px;
        border: 0;
    }
}

/* Regras para telas maiores que 480px */

@media (min-width: 480px) {
    .header {
        .header-menu {
            display: none;
        }
        .header-nav {
            display: block;
            float: right;
            border: 0;
            ul {
                li {
                    display: inline-block;
                    a{
                        padding: 10px;
                        display: block;
                    }
                    a:hover{
                        color: white;
                        border-bottom: 5px solid red;
                    }
                }
            }
        }
    } 
    
    .banner-mobile {
        display: none;
    }
    .banner-desktop {
        display: block;
        background: url(../images/banner.jpg) center;
        width: 100%;
        height: 500px;
        .flex {
            .col {
                padding: 50px;
                p {
                    margin: 50px;
                }
            }
        }
    }

    .quadrinhos, .noticias {
        .flex {
            display: flex;
            .col {
                padding: 10px;
            }
        }
    }

    .noticias {
        .flex {
            .col {
                margin: 10px;
            }
        }
    }

    .flex {
        display: flex;
        margin: 30px 0;
        .col-esquerda {
            flex-basis: 70%;
            padding: 20px;
            .principal {
                width: 100%;
                border-radius: 10px;
            }
        }
        .col-direita {
            flex-basis: 30%;
            padding: 20px;
            background: #fff;
            h3, p {
                font-family: Roboto;
                text-align: center;
                margin: 20px 0;
            }
        }
    }
    main {
        padding: 30px 150px;
    }
}

